.sourcing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 60px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.sourcing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.sourcing-title {
    position: relative;
    display: inline-block;
    height: 95px;
    flex-shrink: 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 60px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-family: "Motiva Sans Bold", serif;
    text-align: center;
    line-height: normal;
    align-self: stretch;
    margin-bottom: 20px;
}

.sourcing-description {
    position: relative;
    font-family: "Motiva Sans Light", sans-serif;
    font-size: 26px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.sourcing-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 90px;
    z-index: 2;
    text-align: right;
    font-size: 12px;
    /* color: crimson; */
    font-family: 'Proxima Nova', sans-serif;
}

.source-card {
    width: 476px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 22px;
}

.image-container {
    position: relative;
    background-color: #fff;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
    width: 419px;
    height: 419px;
    overflow: hidden;
    flex-shrink: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.export-image {
    width: 100%; /* Adjust the image to fill the container */
    height: 100%; /* Adjust the image to fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 10px; /* Maintain container's border radius */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.export-image:hover {
    transform: scale(1.05); /* Enlarge the image on hover */
}

.export-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    width: 100%;
    text-align: left;
}

.export-title {
    width: 100%;
    font-size: 30px;
    color: rgb(51, 51, 51);
    font-family: rocaRegular, sans-serif;
    text-align: left;
    line-height: 34px;
}

.export-description {
    width: 100%;
    color: rgb(70 70 70 / var(--tw-text-opacity));
    font-size: 20px;
    font-family: ProximaNova, sans-serif;
    align-self: stretch;
    position: relative;
    text-align: left;
    line-height: 25px;
    font-weight: lighter;
}

.explore-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 476px;
    padding: 12px 3px;
    background-color: #15803d;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    font-size: 1.25rem; 
    color: #F5F5F5; 
}
.explore-button:hover {
    transform: translateY(-2px); /* Move the button up slightly on hover */
    box-shadow: 4px 6px 14px rgba(0, 0, 0, 0.3); /* Slightly increase shadow on hover */
}

.explore-text {
    line-height: 24px;
    font-family: 'Proxima Nova SemiBold', sans-serif;
}

.explore-arrow {
    width: 14.52px;
    height: 7.36px;
}


@media (max-width: 768px) {
    .sourcing-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sourcing-title {
        font-size: 40px;
        height: auto;
    }

    .sourcing-description {
        font-size: 20px;
        align-items:flex-start;
    }

    .sourcing-container-2 {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .source-card {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .image-container {
        width: 100%;
        height: auto;
    }

    .export-title {
        font-size: 24px;
    }

    .export-description {
        font-size: 18px;
    }

    .explore-button {
        width: 100%;
    }
}